<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/security">
        <head>
            <meta charset="UTF-8">
            <title>Header</title>
        </head>
        <body>
            <header class="header" th:fragement="header">
                <!-- Navigation -->
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                    <div class="container">
                        <a class="navbar-brand page-logo" href="/">
                            <i class="fas fa-parachute-box"></i>
                            YourPackageIsHere
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarResponsive">
                            <ul class="navbar-nav ml-auto">
                                <span th:if="${principal == ''}">
                                 <li class="nav-item active">
                                    <a class="nav-link" href="/">Home
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                </span>
                                <span th:if="${principal == ''}">
                                <li class="nav-item">
                                    <a class="nav-link" href="/register">Register</a>
                                </li>
                                </span>
                                <span th:if="${principal == ''}">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/login">Login</a>
                                    </li>
                                </span>
                                <span th:unless="${principal == ''}">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Building
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="/sendemail">Scan Package</a>
                                            <a class="dropdown-item" href="/tenant/add">Add Tenant</a>
                                            <a class="dropdown-item" href="/tenant/all">All Tenants</a>
                                        </div>
                                    </li>
                                </span>
                                <li class="nav-item">
                                    <a class="nav-link" href="/aboutus">About</a>
                                </li>
                                <span th:unless="${principal == ''}">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/logout">Logout</a>
                                    </li>
                                </span>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>

        </body>
    </html>