

<form method="POST" action="/tenantcreate">
<!--    String firstname, String lastname, String email, String aptnum, String phonenum, Building building-->
    <p><label for="firstname">First Name</label><input name="firstname" id="firstname"/></p>
    <p><label for="lastname">Last Name</label><input name="lastname" id="lastname" /></p>
    <p><label for="email">Email</label><input type="email" name="email" id="email"/></p>
    <p><label for="aptnum">City</label><input name="aptnum" id="aptnum" /></p>
    <p><label for="phonenum">State</label><input name="phonenum" id="phonenum" /></p>

    <input type="submit" />

</form>