<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Tenant</title>
</head>
<body>


<div class="tenantEdit mt" th:fragement="tenantEdit">
    <h3 class="text-center">Edit Tenant</h3>
    <form th:method="PUT" action="/tenantedit" class="tenant-form">
        <!--    String firstname, String lastname, String email, String aptnum, String phonenum, Building building-->
        <input type="hidden" th:value="${tenant.id}" name="id" id="id" />
            <div class="form-group">
                <label for="firstname">First Name</label><input th:value="${tenant.firstname}" name="firstname" id="firstname" class="form-control" required/>
            </div>
            <div class="form-group">
                <label for="lastname">Last Name</label><input th:value="${tenant.lastname}" name="lastname" id="lastname" class="form-control" required/>
            </div>
            <div class="form-group">
                <label for="email">Email</label><input th:value="${tenant.email}" type="email" name="email" id="email" class="form-control" required/>
            </div>
            <div class="form-group">
                <label for="aptnum">Apartment Number</label><input th:value="${tenant.aptnum}" name="aptnum" id="aptnum" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="phonenum">Phone Number</label><input th:value="${tenant.phonenum}" name="phonenum" id="phonenum" class="form-control" required/>
            </div>
        <button type="submit" class="btn btn-info">Submit</button>
    </form>



</div>

</body>
</html>