<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/security">
<head>
    <meta charset="UTF-8">
    <title>Add Tenant</title>
</head>
<body>

<div class="tenantCreate mt" th:fragement="tenantCreate" id="tenant-create">
    <h3 class="text-center">Add a Tenant</h3>
    <form method="POST" action="/tenantcreate">
        <!--    String firstname, String lastname, String email, String aptnum, String phonenum, Building building-->
        <div class="form-group">
            <label for="firstname">First Name</label><input name="firstname" id="firstname" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="lastname">Last Name</label><input name="lastname" id="lastname" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="email">Email</label><input type="email" name="email" id="email" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="aptnum">Apartment Number</label><input name="aptnum" id="aptnum" class="form-control" />
        </div>
        <div class="form-group">
            <label for="phonenum">Phone Number</label><input name="phonenum" id="phonenum" class="form-control"/>
        </div>
        <button type="submit" class="btn btn-info">Submit</button>
    </form>
</div>

</body>
</html>