<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>About Us</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <link href="/reset.css" rel="stylesheet" type="text/css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"rel="stylesheet" type="text/css" />
    <script src="https://kit.fontawesome.com/c36d981c19.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<!-- Put everything in this div -->
<div class="container mt">
    <h3>About Us</h3>

    <img class="profilePic" src="../assets/devon.png" alt="devon" title="Devon Hackley">
    <h4>Devon Hackley</h4>

    <img class="profilePic" src="../assets/reina.jpg" alt="devon" title="Reina Vencer">
    <h4>Reina Vencer</h4>
    <p>"I am a Software Developer working with AWS as an SDE Apprentice. I am from Long Island, New York.
        I graduated with a Bachelor's in Computer Programming & Information Systems in SUNY Farmingdale State College.
        I studied art and biology prior to finding my interest in technology.
        I discovered my passion for coding in college after taking the programming 1 course they have as an elective when I was a Bioscience major.
        What I like about programming is that it was both technical and artistic at the same time.
        Some fun facts about me would be my love for animals, dogs especially." </p></p>

    <img class="profilePic" src="../assets/kush.jpg" alt="devon" title="Kush Shrestha">
    <h4>Kush Shrestha</h4>
    <p>"My name is Kush Shrestha. I am a motivated self-starter who can successfully manage multiple projects and deadlines.
        I have bachelor’s degree in Mechanical Engineering from University of North Texas in Denton, Texas.
        I recently transition from military. I wanted to work in IT field while transitioning from military.
        I found out about this AWS Software Development Engineer apprenticeship program and it was exactly what I wanted to do.
        As a part of apprenticeship program, I am taking a course in Code Fellows to become a full stack Software Developer. "</p>



</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>