<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <link href="/reset.css" rel="stylesheet" type="text/css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"rel="stylesheet" type="text/css" />
    <script src="https://kit.fontawesome.com/c36d981c19.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>

<div id="landing-page">
    <div class="container" id="landing-content">
        <h2>Welcome to YourPackageIsHere</h2>
        <p>Making deliveries that much <span class="special">easier</span>.</p>
        <p>Join <span class="special">now</span> to start using!</p>
        <a class="btn btn-dark btn-xl" href="/register">Sign up</a>
        <a class="btn btn-dark btn-xl" href="/login">Login</a>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>