<!DOCTYPE html>
<html lang="en" xmlns:th="http://www,thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Register</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <link href="/reset.css" rel="stylesheet" type="text/css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"rel="stylesheet" type="text/css" />
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<!-- Put everything in this div -->
<div class="container mt">
    <h3>Register</h3>

    <form method="POST" action="/buildingcreate">
        <!--    username,name, streetaddress, city, state, zip, email, hashedpwd     -->
        <p><label for="username">Username</label><input name="username" id="username"/></p>
        <p><label for="password">Password</label><input type="password" name="password" id="password" /></p>
        <p><label for="email">Building Name</label><input type="email" name="email" id="email"/></p>
        <p><label for="name">Building Name</label><input name="name" id="name"/></p>
        <p><label for="streetaddress">Street Address</label><input name="streetaddress" id="streetaddress" /></p>
        <p><label for="city">City</label><input name="city" id="city" /></p>
        <p><label for="zip">Zip Code</label><input name="zip" id="zip" /></p>

        <input type="submit" />
    </form>


</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>