<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Send Email</title>

</head>
<body>

    <form method="POST" action="/sendemail">
        <p><label for="trackingnumber">Tracking number</label><input name="trackingnumber" id="trackingnumber"/></p>
        <p><label for="aptnum">Apartment number</label><input name="aptnum" id="aptnum" /></p>
        <p><label for="firstname">First Name</label><input name="firstname" id="firstname"/></p>
        <p><label for="lastname">Last Name</label><input name="lastname" id="lastname"/></p>
        <input type="submit" />
    </form>

</body>
</html>