<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Scan Package</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <link href="/reset.css" rel="stylesheet" type="text/css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"rel="stylesheet" type="text/css" />
    <script src="https://kit.fontawesome.com/c36d981c19.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<div class="container" id="scan-package">
    <h3>Scan Package:</h3>
    <div class="row">
        <div class="col-sm">
            <!--https://github.com/nimiq/qr-scanner-->
            <div id="email-status"class="card bg-light mb-3" style="width: 18rem;">
                <div class="card-header">Message Status:</div>
                <div class="card-body">
                    <p style="color:green;" th:if="${isSent}">[[${message}]]</p>
                    <p style="color:red;" th:unless="${isSent}">[[${message}]]</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <h4>Scan QR code:  <i id="cam-has-camera" class="fas fa-camera"></i></h4>
            <div class="camera-border">
                <video class="camera" muted playsinline id="qr-video" width="480px"></video>
            </div>
            <div class="card bg-light mb-3" style="width: 22rem;">
                <div class="card-header">Detected QR code:</div>
                <div class="card-body">
                    <p class="card-text qr-found" id="cam-qr-result"></p>
                </div>
            </div>
            <p class="hide">Last detected at: </p>
            <p class="hide" id="cam-qr-result-timestamp"></p>
            <h4>Scan from File:<i class="fas fa-file-image"></i></h4>
            <input type="file" id="file-selector">
            <div class="card bg-light mb-3" style="width: 22rem;">
                <div class="card-header">Detected QR code:</div>
                <div class="card-body">
                    <p class="card-text qr-found" id="file-qr-result"></p>
                </div>
            </div>
        </div>
        <!-- This module is hacked from index.html from https://github.com/nimiq -->
        <script type="module">
    // ####### Import and Setup worker #######
    import QrScanner from "/scripts/qr-scanner.min.js";
    QrScanner.WORKER_PATH = '/scripts/qr-scanner-worker.min.js';

     // ####### Web Cam document tags #######
    const video = document.getElementById('qr-video');
    const camHasCamera = document.getElementById('cam-has-camera');
    const camQrResult = document.getElementById('cam-qr-result');
    const camQrResultTimestamp = document.getElementById('cam-qr-result-timestamp');
    const fileSelector = document.getElementById('file-selector');
    const fileQrResult = document.getElementById('file-qr-result');

    // ######## Setup form document tags #######
    const trackingNumber = document.getElementById('trackingnumber');
    const aptNum = document.getElementById('aptnum');
    const firstName = document.getElementById('firstname');
    const lastName = document.getElementById('lastname');

    // ####### This function posts the results #######
    function setResult(label, result) {
        label.textContent = result;
        camQrResultTimestamp.textContent = new Date().toString();
        label.style.color = 'teal';
        clearTimeout(label.highlightTimeout);
        label.highlightTimeout = setTimeout(() => label.style.color = 'inherit', 100);
        if(result) {
            try {
                result = JSON.parse(result);
                trackingNumber.value = result.trackingNumber;
                aptNum.value = result.aptNum;
                firstName.value = result.firstName;
                lastName.value = result.lastName;
            } catch(e) {
                // Update some error on page about not QR Code
                alert("This isn't a json QR Code"); // error in the above string (in this case, yes)!
            } finally {
                console.log(result);
            }
        }
    }

    // ####### Web Cam Scanning #######
    QrScanner.hasCamera().then(hasCamera => hasCamera);
    const scanner = new QrScanner(video, result => setResult(camQrResult, result));
    scanner.start();
    document.getElementById('inversion-mode-select').addEventListener('change', event => {
        scanner.setInversionMode(event.target.value);
    });

    // ####### File Scanning #######
    fileSelector.addEventListener('change', event => {
        const file = fileSelector.files[0];
        if (!file) {
            return;
        }
        QrScanner.scanImage(file)
            .then(result => setResult(fileQrResult, result))
            .catch(e => setResult(fileQrResult, e || 'No QR code found.'));
    });
</script>
        <div class="col-sm" id="scan-results">
            <form method="POST" action="/sendemail">
                <div class="form-row">
                    <div class="form-group"><label for="trackingnumber">Tracking number</label><input name="trackingnumber" id="trackingnumber" class="form-control"/></div>
                    <div class="form-group"><label for="aptnum">Apartment number</label><input name="aptnum" id="aptnum" class="form-control" /></div>
                    <div class="form-group"><label for="firstname">First Name</label><input name="firstname" id="firstname" class="form-control"/></div>
                    <div class="form-group"><label for="lastname">Last Name</label><input name="lastname" id="lastname" class="form-control"/></div>
                </div>

                <button type="submit" class="btn btn-success" >Message</button>
            </form>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>