<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Send Email</title>

</head>
<body>
<!--https://github.com/nimiq/qr-scanner-->
<style>
    canvas {
        display: none;
    }
    hr {
        margin-top: 32px;
    }
    input[type="file"] {
        display: block;
        margin-bottom: 16px;
    }
    div {
        margin-bottom: 16px;
    }
</style>
<h1>Scan from QR Code From WebCam:</h1>

<div>
    <b>Device has camera: </b>
    <span id="cam-has-camera"></span>
    <br>
    <video muted playsinline id="qr-video" width="400px"></video>
</div>
<b>Detected QR code: </b>
<span id="cam-qr-result">None</span>
<br>
<b>Last detected at: </b>
<span id="cam-qr-result-timestamp"></span>
<h1>Scan from File:</h1>
<input type="file" id="file-selector">
<b>Detected QR code: </b>
<span id="file-qr-result">None</span>
<!-- This module is hacked from index.html from https://github.com/nimiq -->
<script type="module">
    // ####### Import and Setup worker #######
    import QrScanner from "/scripts/qr-scanner.min.js";
    QrScanner.WORKER_PATH = '/scripts/qr-scanner-worker.min.js';

     // ####### Web Cam document tags #######
    const video = document.getElementById('qr-video');
    const camHasCamera = document.getElementById('cam-has-camera');
    const camQrResult = document.getElementById('cam-qr-result');
    const camQrResultTimestamp = document.getElementById('cam-qr-result-timestamp');
    const fileSelector = document.getElementById('file-selector');
    const fileQrResult = document.getElementById('file-qr-result');

    // ######## Setup form document tags #######
    const trackingNumber = document.getElementById('trackingnumber');
    const aptNum = document.getElementById('aptnum');
    const firstName = document.getElementById('firstname');
    const lastName = document.getElementById('lastname');

    // ####### This function posts the results #######
    function setResult(label, result) {
        label.textContent = result;
        camQrResultTimestamp.textContent = new Date().toString();
        label.style.color = 'teal';
        clearTimeout(label.highlightTimeout);
        label.highlightTimeout = setTimeout(() => label.style.color = 'inherit', 100);
        if(result) {
            try {
                result = JSON.parse(result);
                trackingNumber.value = result.trackingNumber;
                aptNum.value = result.aptNum;
                firstName.value = result.firstName;
                lastName.value = result.lastName;
            } catch(e) {
                // Update some error on page about not QR Code
                alert("This isn't a json QR Code"); // error in the above string (in this case, yes)!
            } finally {
                console.log(result);
            }
        }
    }

    // ####### Web Cam Scanning #######
    QrScanner.hasCamera().then(hasCamera => camHasCamera.textContent = hasCamera);
    const scanner = new QrScanner(video, result => setResult(camQrResult, result));
    scanner.start();
    document.getElementById('inversion-mode-select').addEventListener('change', event => {
        scanner.setInversionMode(event.target.value);
    });

    // ####### File Scanning #######
    fileSelector.addEventListener('change', event => {
        const file = fileSelector.files[0];
        if (!file) {
            return;
        }
        QrScanner.scanImage(file)
            .then(result => setResult(fileQrResult, result))
            .catch(e => setResult(fileQrResult, e || 'No QR code found.'));
    });
</script>
    <form method="POST" action="/sendemail">
        <p><label for="trackingnumber">Tracking number</label><input name="trackingnumber" id="trackingnumber"/></p>
        <p><label for="aptnum">Apartment number</label><input name="aptnum" id="aptnum" /></p>
        <p><label for="firstname">First Name</label><input name="firstname" id="firstname"/></p>
        <p><label for="lastname">Last Name</label><input name="lastname" id="lastname"/></p>
        <input type="submit" />
    </form>

</body>
</html>